{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static '/styles/Login.css' %}">
</head>
<body>
    <div class="container">
        <div class="cuadrado">
            <img src="{% static '/images/fondo2.jpg' %}">
        </div>
        <div class="formulario">
            <h1>Iniciar Sesion</h1>
            <form method="POST">
                {% csrf_token %}
                <label for="user">
                    Usuario
                    <input type="text" name="username">   
                </label>
                <label for="pass">
                    Password
                    <input type="password" name="password">
                </label>
                <button type="submit">Iniciar Seccion</button>
            </form>
        
        </div>
    </div>

</body>
</html>
